<div th:fragment="header">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-2">
      <span class="fs-4">Mental health quick test</span>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-right mb-md-0">
      <li><a href="/" class="nav-link px-2">Home</a></li>
      <li><a href="https://github.com/asanbl4?tab=repositories" class="nav-link px-2">GitHub</a></li>
    </ul>
  </header>
</div>